body{
  overflow-y: scroll;
}

section{
  padding: 16vh 9vw;
}

.screen{
  height: 88.5vh;
}

.arrowDown{
  position: absolute;
  right: 9vw;
  bottom: 8vh;
}

.title{
  margin-top: 0;
  margin-bottom: 10vh;
}

.careers{
  background-color: #ffffff;
  margin: 0;
  padding: 150px 0 50px;
}

.careers .title{
  color: #000000;
  width: auto;
  text-shadow: none;
  margin-left: 9vw;
  margin-right: 9vw;
  text-transform: none;
}

.careers .title__after{
  color: #000000;
  width: auto;
  margin-left: 9vw;
  margin-right: 9vw;
  margin-bottom: 75px;
}

.careers__head{
  display: flex;
  padding: 10px 9vw;
  border-bottom: 2px solid #c4c4c4;
}

.careers__card__head__box{
  display: flex;
  width: 50%;
}

.careers__head__position,
.careers__head__type,
.careers__head__location{
  width: 50%;
  font-family: 'Futura', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #c4c4c4;
}

.careers__head__type{
  width: 60%;
}

.careers__head__location{
  width: 40%;
}

.careers__card{
  border-bottom: 2px solid #c4c4c4;
}

.careers__card__head{
  display: flex;
  padding: 35px 9vw;
}

.careers__card__head__position{
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
}

.careers__card__head__type,
.careers__card__head__location{
  width: 30%;
  font-family: 'Futura', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #c4c4c4;
}

.careers__card__head__location{
  width: 20%;
}

.careers__card__body{
  padding: 20px 9vw 40px;
}

.careers__card__body__info{
  display: flex;
}

.careers__card__body__info__item{
  width: 50%;
  padding-right: 25px;
}

.careers__card__body__info__item__title{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;
}

.careers__card__body__info__item__text{
  font-family: 'Futura', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.careers__card__body__form{
  margin-top: 45px;
  transition: 0.4s;
}

.careers__card__body__form__file{
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.careers__card__body__form__file + label{
  font-family: 'Futura', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  background-color: #fa8c16;
  padding: 12px 55px;
  margin: 0;
}

.careers__card__body__form .button{
  margin-left: 55px;
  background-color: transparent;
  border: none;
  color: #c4c4c4;
  cursor: none;
  pointer-events: none;
  outline: none;
}

.careers__card__body__form .button.active{
  pointer-events: all;
  color: #fa8c16;
}

.careers__text{
  font-family: 'Futura', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  margin: 100px 9vw 50px;
}

.careers__form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 25vw;
}

.careers__file{
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.careers__file + label{
  font-family: 'Futura', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #fa8c16;
  width: 100%;
  padding: 10px 0;
  display: inline-block;
  position: relative;
}

.careers__file + label::after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
}

.careers__form .button{
  color: #c4c4c4;
  background-color: transparent;
  border: none;
  outline: none;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 20px;
  cursor: none;
  pointer-events: none;
}

.careers__form .button.active{
  pointer-events: all;
  color: #fa8c16;
}

.careers__question{
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  line-height: 122px;
  font-weight: 900;
  color: #fa8c16;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.careers__contact{
  font-family: 'Futura', sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #fa8c16;
  display: flex;
  flex-direction: column;
}

.careers__contact a{
  color: #fa8c16;
  text-decoration: none;
}

.careers__contact a:hover{
  text-decoration: underline;
}

.footer{
  position: relative;
  background-color: #232323;
  top: 0;
}

.footer::before{
  display: none;
}

.footer__text a{
  text-decoration: underline;
}

.scrollbar{
  display: none;
}

@media (max-width: 768px) {

  section{
    padding: 10vh 6vw;
  }
  
  .screen{
    height: 90vh;
  }
  
  .arrowDown{
    position: absolute;
    right: 9vw;
    bottom: 8vh;
    transform: rotate(180deg);
  }
  
  .title{
    margin-bottom: 10vh;
  }
  
  .careers{
    padding: 70px 0 50px;
  }
  
  .careers .title{
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 10px;
  }
  
  .careers .title__after{
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 55px;
  }
  
  .careers__head{
    padding: 10px 6vw;
  }
  
  .careers__head__position{
    width: 70%;
  }
  
  .careers__head__type{
    display: none;
  }
  
  .careers__head__location{
    width: 30%;
  }
  
  .careers__card__head{
    padding: 25px 6vw;
    display: flex;
    flex-direction: column;
  }

  .careers__card__head__box{
    margin-top: 10px;
    width: 100%;
  }
  
  .careers__card__head__position{
    width: 100%;
  }
  
  .careers__card__head__type,
  .careers__card__head__location{
    width: 70%;
  }
  
  .careers__card__head__location{
    width: 30%;
  }
  
  .careers__card__body{
    padding: 20px 6vw 40px;
  }
  
  .careers__card__body__info{
    display: flex;
    flex-direction: column;
  }
  
  .careers__card__body__info__item{
    width: 100%;
    padding-right: 0px;
    margin-bottom: 30px;
  }
  
  .careers__card__body__info__item__text{
    font-size: 20px;
    line-height: 24px;
  }
  
  .careers__card__body__form{
    margin-top: 5px;
    display: flex;
  }

  .careers__card__body__form__file + label{
    /* width: 100%; */
    word-wrap: break-word;
    width: 80%;
  }

  .careers__card__body__form .button{
    margin-left: 0;
    width: 20%;
  }
  
  .careers__text{
    font-size: 20px;
    line-height: 24px;
    margin: 70px 6vw 40px;
  }
  
  .careers__form{
    margin: 0 6vw;
  }

  .careers__file + label::after{
    word-wrap: normal;
  }
  
  .careers__question{
    font-size: 53px;
    line-height: 65px;
    margin-bottom: 25px;
  }
  
  .careers__contact{
    font-size: 20px;
    line-height: 24px;
  }

  .footer{
    top: 0;
  }

}

@media (max-width: 360px){

  .careers__question{
    font-size: 46px;
    line-height: 50px;
  }

}