.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.cursor--small {
  width: 10px;
  height: 10px;
  left: -5px;
  top: -5px;
  border-radius: 50%;
  z-index: 11000;
  background: #fa8c16;
  border: 1px solid #232323;
}
.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}

body, 
body a,
*,
*::after,
*::before,
a:hover,
a{
	cursor: none;
}