*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: #232323;
	overflow-y: hidden;
}

.line{
	position: relative;
	transition: 0.4s ease;
	text-decoration: none;
}

.line::after{
	position: absolute;
	content: '';
	width: 0;
	left: 0;
	bottom: -5px;
	height: 3px;
	background-color: #fa8c16;
	transition: 0.4s ease;
}

.desctop{
	display: block;
}

.mobile{
	display: none;
}

.header{
	height: 11.5vh;
  display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 9vw;
}

.header__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu__item{
  margin-left: 35px;
	color: #ffffff;
	font-family: 'Futura';
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
	text-decoration: none;
	transition: 0.4s;
}

.header__menu__item:hover{
	color: #fa8c16;
	text-decoration: none;
}

.header__menu__item.active,
.header__logo.active{
	transition: 0.4s;
	color: #fa8c16;
	pointer-events: none;
  cursor: auto;
}

.header__menu__item:first-child{
  margin: 0;
}

#slider {
	position: relative;
	/* max-height: 77.3vh; */
  height: 77.3vh;
  display: flex;
	scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 88.5vh;
}

section {
  height: 100%;
  min-width: 82vw;
	scroll-snap-align: start;
	scroll-margin: 9vw;
	margin-right: 5vw;
}

/* Поки зі скролбаром є проблема: зменшення товщини */
#slider::-webkit-scrollbar {
	height: 0;
}

#slider::-webkit-scrollbar {
  background-color: transparent;
}

#slider::-webkit-scrollbar-thumb {
  background: #FA8C16; 
  height: 12px;
}

#main {
	padding-left: 9vw;
	min-width: 91vw;
}

.title{
	font-family: 'Montserrat', sans-serif;
	font-size: 47px;
	line-height: 57px;
	font-weight: 900;
	letter-spacing: 1.3px;
	color: #ffffff;
	text-transform: uppercase;
	width: 70%;
	margin-top: 12vh;
	text-shadow: -5px -5px 10px rgba(8, 55, 219, 0.2), 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.title__after{
	font-family: 'Futura', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	color: #ffffff;
	margin-top: 10px;
	width: 65%;
}

.flesh{
	position: absolute;
	font-family: 'Futura', sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	bottom: 15vh;
	color: #ffffff;
	opacity: 0.4;
	padding-right: 30px;
}

.flesh::after{
	position: absolute;
	content: '';
	right: 0;
	opacity: 1;
	top: 50%;
	transform: translateY(-50%);
	background-image: url(../img/scrollForMoreArrow.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 12px;
	width: 21px;
}

.cookie{
	position: absolute;
	right: 0;
	bottom: 14vh;
	font-family: 'Futura', sans-serif;
	font-size: 10px;
	line-height: 12px;
	font-weight: 400;
	color: #ffffff;
	padding: 5px 10px;
	padding-right: 9vw;
	background-color: rgba(196, 196, 196, 0.1);
	display: flex;
	align-items: center;
	z-index: 1;
}

.cookie img{
	margin-right: 10px;
}

.cookie a{
	color: #ffffff;
	margin-left: 5px;
}

#weCanHelp{
	position: relative;
}

#weCanHelp .title{
	margin-top: 12vh;
	width: 50%;
}

.weCanHelp__container{
	display: flex;
	justify-content: space-between;
	height: 100%;
	position: absolute;
}

.weCanHelp__container__item{
	width: 25%;
	height: 100%;
	padding: 80px 5px 0 15px;
	color: #ffffff;
	transition: 0.4s;
	position: relative;
}

.weCanHelp__container__item:hover{
	padding-top: 20px;
}

.weCanHelp__container__item__background{
	position: absolute;
	font-family: 'Stolzl', sans-serif;
	font-size: 500px;
	overflow: hidden;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #fa8c16;
	transition: 0.4s;
	z-index: -1;
}

.weCanHelp__container__item:hover .weCanHelp__container__item__background{
	height: 100%;
}

.weCanHelp__container__item__background__text{
	position: absolute;
	top: -10%;
	right: -100px;
	opacity: 0.2;
	user-select: none;
}

.weCanHelp__container__item:first-child .weCanHelp__container__item__background__text{
	right: -50px;
}

.weCanHelp__check{
	position: absolute;
	left: 0;
	top: 88px;
	height: 8px;
	width: 8px;
	border-radius: 90px;
	background-color: #fa8c16;
	opacity: 1;
}

.weCanHelp__container__item__title{
	font-family: 'Montserrat';
	font-size: 20px;
	line-height: 24px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 25px;
	text-shadow: -5px -5px 10px rgba(8, 55, 219, 0.2), 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.weCanHelp__container__item:hover .weCanHelp__container__item__title{
	text-shadow: -5px -5px 10px rgba(255, 77, 0, 0.2), 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.weCanHelp__container__item__text{
	font-family: 'Futura', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
	text-transform: capitalize;
}

.weCanHelp__container__item__hidden{
	color: transparent;
	transition: 0.4s;
	margin-top: 10px;
	user-select: none;
}

.weCanHelp__container__item:hover .weCanHelp__container__item__hidden{
	color: #ffffff;
	user-select: auto;
}

.weCanHelp__container__item__button{
	display: inline-block;
	font-size: 22px;
	line-height: 26px;
	margin-top: 10px;
	color: transparent;
	text-decoration: none;
}

.weCanHelp__container__item__button:hover{
	text-decoration: none;
}

.weCanHelp__container__item:hover .weCanHelp__container__item__button{
	color: #ffffff;
}

.weCanHelp__container__item:hover .line::after{
	background-color: #ffffff;
}

#whoWe .title{
	margin-top: 12vh;
	letter-spacing: 2px;
}

#whoWe .title__after{
	margin-top: 7vh;
	margin-bottom: 7vh;
	width: 66%;
}

.button{
	color: #ffffff;
	font-family: 'Futura', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-decoration: none;
}

.button:hover{
	color: #ffffff;
	text-decoration: none;
}

.line:hover::after{
	width: 100%;
}

#howCanWeHelp{
	padding-right: 27.5vw;
}

#howCanWeHelp .title{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	letter-spacing: 2px;
}

.title__box{
	display: flex;
	align-items: center;
}

.title__box span,
.title__box a{
	font-family: 'Futura', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
}

.title__box i{
	font-size: 22px;
	line-height: 26px;
}

.title__box a{
	color: #ffffff;
	text-decoration: none;
	transition: 0.4s;
}

.title__box a:hover{
	color: #fa8c16;
}

.form__input{
	margin-top: 17vh;
	width: 100%;
	background-color: transparent;
	padding: 10px 0;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ffffff;
	outline: none;
	color: #fa8c16;
	font-family: 'Futura', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
}

.form__input::-webkit-input-placeholder{
	color: #fa8c16;
}

.form__first .button{
	display: inline-block;
	margin-top: 3vh;
}

.form__second{
	opacity: 0;
	display: none;
}

.form__second .title{
	margin-top: 12vh;
}

.form__second .title .title__box{
	margin-bottom: 55px;
}

.form__choice{
	margin-top: 4vh;
	display: flex;
	justify-content: space-between;
}

#form__second__select{
	width: 0.1px;
	height: 0.1px;
	left: 0;
	top: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__second__item{
	width: 23%;
	min-height: 12vh;
	padding: 23px 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 900;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
	cursor: none;
}

.form__second__item::after{
	position: absolute;
	left: 0;
	bottom: 0;
 	content: '';
	height: 100%;
	width: 100%;
	background-color: #fa8c16;
	z-index: -1;
	transition: 0.4s;
}

.form__second__item:last-of-type::after{
	background-color: #c4c4c4;
}

.form__second__item:hover::after,
.active.form__second__item::after{
	height: 4px;
}

.form__buttons{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form__second .button{
	display: inline-block;
	margin-top: 3vh;
}

.skip__button{
	color: rgba(255, 255, 255, 0.49);
}

.form__third{
	opacity: 0;
	display: none;
}

.form__third .title{
	margin-top: 12vh;
}

#form__third__select{
	display: none;
}

.form__third__item{
	width: 23%;
	min-height: 12vh;
	padding: 20px 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 900;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
	cursor: none;
}

.form__third__item::after{
	position: absolute;
	left: 0;
	bottom: 0;
 	content: '';
	height: 100%;
	width: 100%;
	background-color: #fa8c16;
	z-index: -1;
	transition: 0.4s;
}

.form__third__item:hover::after,
.active.form__third__item::after{
	height: 4px;
}

.form__third .button{
	display: inline-block;
	margin-top: 3vh;
}

.form__fourth{
	opacity: 0;
	display: none;
}

#form__fourth__select{
	display: none;
}

.form__fourth__item{
	margin-top: 7.5vh;
	width: 23%;
	min-height: 12vh;
	padding: 20px 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 900;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
	cursor: none;
}

.form__fourth__item::after{
	position: absolute;
	left: 0;
	bottom: 0;
 	content: '';
	height: 100%;
	width: 100%;
	background-color: #fa8c16;
	z-index: -1;
	transition: 0.4s;
}

.form__fourth__item:hover::after,
.active.form__fourth__item::after{
	height: 4px;
}

.form__fourth .button{
	display: inline-block;
	margin-top: 3vh;
}

.form__fifth{
	opacity: 0;
	display: none;
}

.form__fifth .title .title__box{
	margin-bottom: 55px;
}

.form__fifth .fa-angle-right{
	color: transparent;
}

.form__fifth .form__input{
	margin-top: 1.5vh;
}

.form__input__required{
	font-family: 'Futura', sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
	color: #982e00;
	display: none;
}

/* #input__email:invalid + .form__input__required{
	display: block;
} */

.form__fifth .form__input:last-of-type{
	margin-top: 0;
}

.form__fifth .button{
	display: inline-block;
	margin-top: 3vh;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: none;
}

.form__sixth{
	opacity: 0;
	display: none;
}

#medium-widget,
.medium-widget__wrapper{
	height: 100%;
}

.medium-widget-article__row{
	margin: 0;
	margin-top: 3vh;
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.medium-widget-article__item{
	width: 33%;
	height: 100%;
	position: relative;
	padding: 0;
}

.medium-widget-article__item::after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;
	background-color: #fa8c16;
	transition: 0.4s;
	z-index: -1;
}

.medium-widget-article__item:hover::after{
	height: 100%;
}

.medium-widget-article__image{
	cursor: none;
}

.medium-widget-article__column .medium-widget-article__image img{
	width: 100%;
	margin: 0;
	margin-bottom: 20px;
	padding: 0 10px;
	transition: 0.4s;
}

.medium-widget-article__item:hover .medium-widget-article__image img{
	padding: 0;
}

.medium-widget-article__title{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 900;
	color: #ffffff;
	text-transform: uppercase;
	padding: 0 10px;
	cursor: none;
	text-shadow: -5px -5px 10px rgba(8, 55, 219, 0.2), 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.medium-widget-article__title:hover{
	color: #ffffff;
	text-decoration: none;
}

.medium-widget-article__item:hover .medium-widget-article__title{
	text-shadow: -5px -5px 10px rgba(255, 77, 0, 0.2), 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.medium-widget-article__description{
	margin-top: 10px;
	font-family: 'Futura', sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	padding: 0 10px;
	color: #ffffff;
}

#contacts{
	min-width: 92.5vw;
	margin-right: 0;
}

.contacts__address{
	margin-top: 6vh;
	font-family: 'Futura', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	color: #ffffff;
}

.contacts__email{
	margin-top: 18px;
	font-family: 'Futura', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	color: #ffffff;
}

.contacts__phone{
	margin-top: 18px;
	font-family: 'Futura', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	color: #ffffff;
}

.sotial__title{
	margin-top: 5vh;
	margin-bottom: 5px;
	font-family: 'Futura', sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	color: #ffffff;
}

.sotial__icon{
	display: inline-block;
	margin-right: 16px;
	height: 100%;
}

.content__hide{
	opacity: 0;
	transition: 0.4s;
	height: 100%;
}

.form__second .content__hide,
.form__third .content__hide,
.form__fourth .content__hide,
.form__fifth .content__hide{
	opacity: 1;
}

.footer{
	height: 11.2vh;
  margin: 0 9vw;
  display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	left: 0;
	top: 88.8vh;
	width: 82%;
	z-index: 2;
}

.footer::before{
	position: absolute;
	left: 0;
	top: -4px;
	content: '';
	width: 82vw;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.4);
}

.scrollbar{
	position: absolute;
	left: 0;
	top: -6px;
	width: 16.666666%;
	height: 6px;
	background-color: #fa8c16;
}

.footer__text{
	font-family: 'Futura';
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
	color: #ffffff;
	margin-bottom: 10px;
}

.footer__text a{
	color: #ffffff;
	text-decoration: underline;
}

@media(max-width: 768px) {

	.desctop{
		display: none;
	}

	.header{
		height: 10vh;
		padding: 0 6vw;
	}

	.header__logo{
		width: 30%;
	}

	.header__logo img{
		width: 100%;
	}
	
	.header__menu__item{
		margin-left: 4vw;
	}

  section {
		min-width: 100vw;
		scroll-margin: 0;
		margin-right: 0;
	}
	
	#main {
		padding: 0 6vw;
		min-width: 100vw;
	}

	.title{
		font-size: 38px;
		line-height: 46px;
		width: 100%;
		margin-top: 11vh;
	}
	
	.title__after{
		font-size: 20px;
		line-height: 24px;
		margin-top: 30px;
		width: 100%;
	}

	.flesh{
		bottom: 17vh;
	}

	#weCanHelp{
		padding: 0 6vw;
	}
	
	#weCanHelp .title{
		margin-top: 11vh;
		width: 100%;
	}

	.mobile{
		display: block;
	}

	.mobile__card{
		color: #ffffff;
	}

	.mobile__card__head{
		padding-top: 20px;
		padding-bottom: 15px;
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		line-height: 24px;
		font-weight: 900;
		text-transform: uppercase;
		padding-left: 15px;
		position: relative;
	}

	.weCanHelp__check{
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 8px;
		width: 8px;
		border-radius: 90px;
		background-color: #fa8c16;
		opacity: 1;
	}

	.mobile__card__body{
		padding-top: 0px;
	}

	.weCanHelp__container__item__text{
		font-family: 'Futura', sans-serif;
		font-size: 14px;
		line-height: 17px;
		font-weight: 400;
		text-transform: capitalize;
		width: 75%;
	}

	.weCanHelp__container__item__button{
		font-family: 'Futura', sans-serif;
		font-size: 20px;
		line-height: 24px;
		font-weight: 400;
		color: #ffffff;
	}

	.weCanHelp__container__item__button:hover{
		color: #ffffff;
		text-decoration: none;
	}

	#whoWe{
		padding: 0 6vw;
	}

	#whoWe .title{
		margin-top: 11vh;
		width: 100%;
	}
	
	#whoWe .title__after{
		margin-top: 7vh;
		margin-bottom: 7vh;
		width: 100%;
	}
	
	.button{
		font-size: 20px;
		line-height: 24px;
	}

	#howCanWeHelp{
		padding: 0 6vw;
	}
	
	#howCanWeHelp .title{
		width: 100%;
		height: 25vh;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		letter-spacing: 2px;
	}
	
	.form__input{
		margin-top: 7vh;
	}
	
	.form__second .title{
		margin-top: 11vh;
	}
	
	.form__second .title .title__box{
		margin-bottom: 0;
	}
	
	.form__choice{
		margin-top: 1vh;
		flex-wrap: wrap;
	}
	
	#form__second__select{
		display: none;
	}
	
	.form__second__item{
		width: 47%;
		margin-bottom: 3vh;
	}
	
	.form__second .button{
		margin-top: 0vh;
	}
	#howCanWeHelp .form__third .title{
		height: auto;
	}
	
	.form__third__item{
		width: 47%;
		margin-bottom: 3vh;
	}

	.form__third .button{
		margin-top: 0vh;
	}
	
	.form__fourth__item{
		margin-top: 0vh;
		width: 47%;
		margin-bottom: 3vh;
	}
	
	.form__fourth .button{
		margin-top: 0vh;
	}
	
	.form__fifth .title .title__box{
		margin-bottom: 0px;
	}

	#blog{
		padding: 0 6vw;;
	}

	#blog .title{
		margin-bottom: 5vh;
	}

	#blog .weCanHelp__container__item__text{
		width: 100%;
	}

	#contacts{
		min-width: 100vw;
		padding: 0 6vw;
	}
	
	.contacts__address{
		font-size: 20px;
		line-height: 24px;
	}
	
	.contacts__email{
		font-size: 20px;
		line-height: 24px;
	}
	
	.contacts__phone{
		font-size: 20px;
		line-height: 24px;
	}
	
	.sotial__title{
		font-size: 20px;
		line-height: 24px;
	}
	
	.sotial__icon{
		margin-right: 12px;
	}
	
	.content__hide{
		opacity: 1;
	}

	.footer{
		height: 15vh;
		top: 85vh;
		margin: 0 6vw;
		width: 88%;
		align-items: flex-start;
		padding-top: 5vh;
	}
	
	.footer::before{
		width: 88vw;
	}
	
	.footer__text{
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 10px;
	}

	.footer__text:last-of-type{
		width: 40%;
		text-align: right;
	}

	.footer__text a{
		text-decoration: underline;
	}

}

@media (max-width: 450px) and (max-height: 750px){

	.title{
		font-size: 28px;
		line-height: 32px;
	}

	#howCanWeHelp .title{
		min-height: 20vh;
		height: auto;
	}

	.mobile__card__head{
		padding-top: 10px;
		padding-bottom: 5px;
	}

	.form__third__item{
		font-size: 16px;
	}

	.form__fourth__item{
		font-size: 16px;
	}

	.form__second__item{
		font-size: 16px;
	}

}

@media (max-width: 450px) and (max-height: 700px){

	#howCanWeHelp .title{
		min-height: 20vh;
		height: auto;
	}

	.form__fifth .form__input{
		margin-top: 30px;
	}

}

@media (max-width: 450px) and (max-height: 650px){

	#weCanHelp .title{
		margin-top: 6vh;
	}

	#whoWe .title{
		margin-top: 6vh;
	}

	#howCanWeHelp .title{
		margin-top: 6vh;
	}

	.mobile__card__head{
		font-size: 16px;
		line-height: 20px;
	}

}

@media (max-width: 400px){

	.footer__text:last-of-type{
		width: 50%;
	}

}

@media (max-width: 350px){

	.title{
		font-size: 22px;
		line-height: 24px;
	}

}

@media (max-width: 320px){

	.footer__text:last-of-type{
		width: 55%;
	}

}